# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# OS files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/

# Environment files
.env
